
<!-- 【HTML】ソースコード -->

<!DOCTYPE html>
<html lang="ja">
  <head>
    
    <!-- Font Awesomeファイルの読み込み -->
    <style type="text/css">
    .turbolinks-progress-bar {
      position: fixed;
      display: block;
      top: 0;
      left: 0;
      height: 3px;
      background: #0076ff;
      z-index: 9999;
      transition: width 300ms ease-out, opacity 150ms 150ms ease-in;
      transform: translate3d(0, 0, 0);
    }
    </style>
    <script src="/assets/application-4e370d3723b6f204426a9414077d365ea07814cce5619ae24fb7e581988f19ed.js" data-turbolinks-track="reload"></script>
    <title>WebCampBackendNew</title>
    <meta name="csrf-param" content="authenticity_token">
    <meta name="csrf-token" content="dRDqsbxDXn34w+43MAmUYQ1QPSF3MmzSyFR+UbI1093/2nMSDeUCdei1GDxX9Tz39iN2Y8oi7KM6eEqAzauInQ==">
  </head>

  <body>
    <p id="notice"></p>
    <h1>Books</h1>
    <table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>リーダブルコード</td>
        <td>より良いコードを書くためのシンプルで実践的なテクニック</td>
        <td><a class="show_282636" href="/books/282636">Show</a></td>
        <td><a class="edit_282636" href="/books/282636/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_282636" rel="nofollow" data-method="delete" href="/books/282636">Destroy</a></td>
      </tr>
      <tr>
        <td>トラブル知らずのシステム設計</td>
        <td>システム設計の要点を図解で説明してくれます</td>
        <td><a class="show_282637" href="/books/282637">Show</a></td>
        <td><a class="edit_282637" href="/books/282637/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_282637" rel="nofollow" data-method="delete" href="/books/282637">Destroy</a></td>
      </tr>
      <tr>
        <td>たのしいRuby</td>
        <td>Rubyの入門におすすめです</td>
        <td><a class="show_282638" href="/books/282638">Show</a></td>
        <td><a class="edit_282638" href="/books/282638/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_282638" rel="nofollow" data-method="delete" href="/books/282638">Destroy</a></td>
      </tr>
      <tr>
        <td>入門Git</td>
        <td>gitについての基本操作から内部構造まで解説してくれます</td>
        <td><a class="show_282639" href="/books/282639">Show</a></td>
        <td><a class="edit_282639" href="/books/282639/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_282639" rel="nofollow" data-method="delete" href="/books/282639">Destroy</a></td>
      </tr>
      <tr>
        <td>アルゴリズム図鑑</td>
        <td>アルゴリズムについてカラーイラストでしっかり解説してくれます</td>
        <td><a class="show_282640" href="/books/282640">Show</a></td>
        <td><a class="edit_282640" href="/books/282640/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_282640" rel="nofollow" data-method="delete" href="/books/282640">Destroy</a></td>
      </tr>
      <tr>
        <td>達人プログラマー</td>
        <td>プログラマ入門者は必読！</td>
        <td><a class="show_282641" href="/books/282641">Show</a></td>
        <td><a class="edit_282641" href="/books/282641/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_282641" rel="nofollow" data-method="delete" href="/books/282641">Destroy</a></td>
      </tr>
  </tbody>
  </table>
    <h2>New book</h2
  <form class="new_book" id="new_book" action="/books" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="KtnQQeVYXmn3CxCEZSEmw+gNd4T9AQ7IDKKqWJCR5QuyxoMBPjEiU3Z2893M7eHPPw2wnmC0AeXzhpBIq6tWhg==">

  <div class="field">
    <label for="book_title">Title</label>
    <input class="book_title" type="text" name="book[title]" id="book_title">
  </div>

  <div class="field">
    <label for="book_body">Body</label>
    <textarea class="book_body" name="book[body]" id="book_body"></textarea>
  </div>

  <div class="actions">
    <input type="submit" name="commit" value="Create Book" data-disable-with="Create Book">
  </div>
  </form>
  </body>
</html>